---

- name: "links: Create directories for links"
  block:
    - name: "links: Create directories for links"
      ansible.builtin.file:
        state: directory
        dest: "{{ item.dest|dirname }}"
        mode: "{{ item.dir_mode|default('0755') }}"
      register: result
      loop: "{{ ar_links }}"
      loop_control:
        label: "{{ item.dest|dirname }}"
  rescue:
    - name: "links: Rescue create directories for links"
      ansible.builtin.fail:
        msg: "Failed. {{ result }}"

- name: "links: Create links"
  block:
    - name: "links: Create links"
      ansible.builtin.file:
        state: link
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        force: "{{ item.force|default(false) }}"
      register: result
      loop: "{{ ar_links }}"
  rescue:
    - name: "links: Rescue create links"
      ansible.builtin.fail:
        msg: "Failed. {{ result }}"

# EOF
...
